<div class="header">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 col-sm-12 tabs_wrapper">
        <div class="page-header">
          <!-- Navigation Bar -->
          <nav class="navbar">
            <a href="#" class="navbar-brand">Fruitables</a>
            <ul class="nav-links">
              <li><a href="#" class="nav-link active">Home</a></li>
              <li><a href="#" class="nav-link">Shop</a></li>

              <li><a href="#" class="nav-link">Contact</a></li>
            </ul>

            <div class="nav-icons">
              <a href="#" class="icon search-icon">
                <i class="fas fa-search"></i>
              </a>
              <a href="#" class="icon cart-icon">
                <i class="fas fa-shopping-bag"></i>
                <span class="cart-count">3</span>
              </a>
              <a href="#" class="icon user-icon">
                <i class="fas fa-user"></i>
              </a>
            </div>
          </nav>
          <!-- End of Navigation Bar -->
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 tabs_wrapper">
      </div>

    </div>
  </div>
</div>
