
/* Navbar styling with background color */
.page-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1; /* Set your desired background color here */
}

/* Style the brand name */
.navbar-brand {
  font-size: 24px;
  color: #64bc22;
  font-weight: bold;
  text-decoration: none;
}

/* Navigation links styling */
.nav-links {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0 25px;
  color: #6f6f6f;
  text-decoration: none;
}

.nav-link.active {
  color: #64bc22;
}

/* Icon section styling */
.nav-icons {
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  margin-left: 15px;
  color: #64bc22;
  font-size: 24px; /* Increase the icon size here */
}

/* Cart count styling */
.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: orange;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}
